{
  "presets": [
    ["env", { "modules": false }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime", 
    "transform-vue-jsx",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-async-to-generator",
    "dynamic-import-webpack",
    [
      "component", 
      [
        {
          "libraryName": "mint-ui",
          "style": false
        }
      ]
    ]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
